[automationcontroller]
{% if 'controller' in groups %}
{% for host in groups['controller'] %}
{{ host }} ansible_host={{ hostvars[host]['ansible_host'] }}
{% endfor %}
{% endif %}

[automationhub]
{% if 'automationhub' in groups %}
{% for host in groups['automationhub'] %}
{{ host }} ansible_host={{ hostvars[host]['ansible_host'] }}
{% endfor %}
{% endif %}

[database]

[all:vars]
ansible_user={{ ansible_user }}
ansible_password='{{ ansible_password }}'

{% if 'controller' in groups %}
# controller
admin_password='{{ controller_install.admin_password }}'
pg_host='{{ controller_install.pg.host | default('') }}'
pg_port='{{ controller_install.pg.port | default('') }}'
pg_database='{{ controller_install.pg.database | default('awx') }}'
pg_username='{{ controller_install.pg.username | default('awx') }}'
pg_password='{{ controller_install.pg.password }}'
pg_sslmode='{{ controller_install.pg.sslmode | default('prefer') }}'
{% endif %}

{% if 'automationhub' in groups %}
# automationhub
automationhub_admin_password='{{ automationhub_admin_password }}'
automationhub_pg_host='{{ automationhub_pg_host }}'
automationhub_pg_port='{{ automationhub_pg_port }}'
automationhub_pg_database='{{ automationhub_pg_database }}'
automationhub_pg_username='{{ automationhub_pg_username }}'
automationhub_pg_password='{{ automationhub_pg_password }}'
automationhub_pg_sslmode='{{automationhub_pg_sslmode }}'
{% endif %}